<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="../static/js/jquery-3.4.1.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
                <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-xl">KNN</span>
        </a>
        <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
            <a class="mr-5 hover:text-gray-900">首页</a>
            <a class="mr-5 hover:text-gray-900">书架</a>
            <a class="mr-5 hover:text-gray-900">推荐中心</a>
            <a class="mr-5 hover:text-gray-900">设置</a>
        </nav>
        <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">更多
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
        </button>
    </div>
</header>

<body>
<section class="text-gray-600 body-font">
    <div id="content">
        <div class="container px-5 py-15 mx-auto">
            <div class="flex flex-wrap -m-4">
                {{range.Books}}
                <div class="lg:w-1/6 p-4 w-full mb-14">
                    <div class="">
                        <a href="/" class="block relative h-68 rounded overflow-hidden">
                            <img alt="ecommerce" class="object-cover object-center w-full h-1/2 block" src="{{.ImageURLL}}">
                        </a>
                    </div>
                    <div  class="mt-2">
                        <h3 href="book_detail.html" class="text-gray-500 text-xs tracking-widest title-font mb-1">ISBN-{{.ISBN}}</h3>
                        <h2 href="book_detail.html" class="text-gray-900 title-font text-lg font-medium">{{.BookTitle}}</h2>
                        <p href="book_detail.html" class="mt-1">作者：{{.BookAuthor}}</p>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
    </div>
</section>
<footer class="navbar-fixed-bottom text-gray-600 body-font navbar-fixed-bottom mt-24">
    <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
        <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
                <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-xl">图书馆借阅推荐系统</span>
        </a>
        <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2020 Tailblocks —
            <a href="https://twitter.com/knyttneve" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">@knyttneve</a>
            <a href="https://twitter.com/knyttneve" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">@clog</a>
        </p>
        <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
            <a href="https://twitter.com/knyttneve" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank"> 📓 📔 📒 📕 📗 📘 📙 </a>
          </span>
    </div>
</footer>
</body>

</html>